<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header >Stall List</nb-card-header>
      <nb-card-body>   
   
          <div class="col-md-12 col-lg-6 col-xxxl-6">
            <nb-card class="list-card" size="small">
             
                <nb-list-item *ngFor="let user of users">
                  <nb-user [name]="user.name" [title]="user.title">
                  </nb-user>
                </nb-list-item>
              
            </nb-card>
          </div>
      
       
      </nb-card-body>
      <nb-card-footer>
        <button nbButton (click)="ref.close()">Close </button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
  <div >
 <button nbButton (click)="open(dialog)" >Stall List</button>
   </div>

  
  